In [437]:
%config IPCompleter.greedy = True

In [438]:
import pandas as pd
import numpy as np

In [439]:
df = pd.read_csv('telecom_churn_data.csv')

In [440]:
df.head()

,mobile_number,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,last_date_of_month_9,arpu_6,...,sachet_3g_9,fb_user_6,fb_user_7,fb_user_8,fb_user_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g
0,7000842753,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,197.385,...,0,1.0,1.0,1.0,NaN,968,30.4,0.0,101.20,3.58
1,7001865778,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,34.047,...,0,NaN,1.0,1.0,NaN,1006,0.0,0.0,0.00,0.00
2,7001625959,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,167.690,...,0,NaN,NaN,NaN,1.0,1103,0.0,0.0,4.17,0.00
3,7001204172,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,221.338,...,0,NaN,NaN,NaN,NaN,2491,0.0,0.0,0.00,0.00
4,7000142493,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,261.636,...,0,0.0,NaN,NaN,NaN,1526,0.0,0.0,0.00,0.00

In [441]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99999 entries, 0 to 99998
Columns: 226 entries, mobile_number to sep_vbc_3g
dtypes: float64(179), int64(35), object(12)
memory usage: 172.4+ MB

In [442]:
df['mobile_number'].nunique()

99999

In [443]:
df['circle_id'].nunique()

1

In [444]:
df['loc_og_t2o_mou'].nunique()

1

In [445]:
df['std_og_t2o_mou'].nunique()

1

In [446]:
df['loc_ic_t2o_mou'].nunique()

1

In [447]:
df['last_date_of_month_6'].nunique()

1

In [448]:
df['last_date_of_month_7'].nunique()

1

In [449]:
df['last_date_of_month_8'].nunique()

1

In [450]:
df['last_date_of_month_9'].nunique()

1

In [451]:
df['total_rech_amt_9'].describe(percentiles =[.25, .5, .70])

count    99999.000000
mean       303.345673
std        404.588583
min          0.000000
25%         52.000000
50%        200.000000
70%        355.000000
max      37235.000000
Name: total_rech_amt_9, dtype: float64

In [452]:
df['total_rech_amt_6'].describe(percentiles =[.25, .5, .70])

count    99999.000000
mean       327.514615
std        398.019701
min          0.000000
25%        109.000000
50%        230.000000
70%        378.000000
max      35190.000000
Name: total_rech_amt_6, dtype: float64

In [453]:
df['total_rech_amt_7'].describe(percentiles =[.25, .5, .70])

count    99999.000000
mean       322.962970
std        408.114237
min          0.000000
25%        100.000000
50%        220.000000
70%        370.000000
max      40335.000000
Name: total_rech_amt_7, dtype: float64

In [454]:
# filtered_df = df[(df.total_rech_amt_6 >= 378) & (df.total_rech_amt_7 >= 370)]

# filtered_df.info()

In [455]:
df_6_and_7 = df['total_rech_amt_6'] + df['total_rech_amt_7']

df_6_and_7.describe(percentiles =[.25, .5, .70])

count    99999.000000
mean       650.477585
std        741.666932
min          0.000000
25%        230.000000
50%        458.000000
70%        737.000000
max      75525.000000
dtype: float64

In [456]:
filtered_df = df[(df.total_rech_amt_6 + df.total_rech_amt_7 > 737)]

filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29979 entries, 7 to 99997
Columns: 226 entries, mobile_number to sep_vbc_3g
dtypes: float64(179), int64(35), object(12)
memory usage: 51.9+ MB

In [457]:
len(filtered_df['total_ic_mou_9'].notna())

29979

In [458]:
len(filtered_df['total_og_mou_9'].notna())

29979

In [459]:
len(filtered_df['vol_2g_mb_9'].notna())

29979

In [460]:
len(filtered_df['vol_3g_mb_9'].notna())

29979

In [461]:
filtered_df['churn'] = filtered_df.apply(
    lambda row : 
        1 if row['total_ic_mou_9'] + row['total_og_mou_9'] + row['vol_2g_mb_9'] + row['vol_3g_mb_9'] > 0 else 0, axis=1
)

D:\Software\Anaconda\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [462]:
filtered_df[filtered_df['churn'] == 0][['total_ic_mou_9', 'total_og_mou_9','vol_2g_mb_9','vol_3g_mb_9']].head()

     total_ic_mou_9  total_og_mou_9  vol_2g_mb_9  vol_3g_mb_9
7               0.0             0.0          0.0          0.0
97              0.0             0.0          0.0          0.0
111             0.0             0.0          0.0          0.0
143             0.0             0.0          0.0          0.0
188             0.0             0.0          0.0          0.0

In [463]:
filtered_df[filtered_df['churn'] == 0][['total_ic_mou_9', 'total_og_mou_9','vol_2g_mb_9','vol_3g_mb_9']].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2589 entries, 7 to 99961
Data columns (total 4 columns):
total_ic_mou_9    2589 non-null float64
total_og_mou_9    2589 non-null float64
vol_2g_mb_9       2589 non-null float64
vol_3g_mb_9       2589 non-null float64
dtypes: float64(4)
memory usage: 101.1 KB

In [464]:
filtered_df[filtered_df['churn'] == 1][['total_ic_mou_9', 'total_og_mou_9','vol_2g_mb_9','vol_3g_mb_9']].head()

    total_ic_mou_9  total_og_mou_9  vol_2g_mb_9  vol_3g_mb_9
8            34.91          142.18          0.0          0.0
13          631.86          446.09          0.0          0.0
16          334.56          255.74          0.0          0.0
17           87.13          631.08          0.0          0.0
21          252.61         1031.53          0.0          0.0

In [465]:
filtered_df[filtered_df['churn'] == 1][['total_ic_mou_9', 'total_og_mou_9','vol_2g_mb_9','vol_3g_mb_9']].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27390 entries, 8 to 99997
Data columns (total 4 columns):
total_ic_mou_9    27390 non-null float64
total_og_mou_9    27390 non-null float64
vol_2g_mb_9       27390 non-null float64
vol_3g_mb_9       27390 non-null float64
dtypes: float64(4)
memory usage: 1.0 MB

In [466]:
len(filtered_df[(filtered_df.total_rech_num_6 > 0) & (filtered_df.total_rech_amt_6 == 0)])

367

In [467]:
len(filtered_df[(filtered_df.total_rech_num_7 > 0) & (filtered_df.total_rech_amt_7 == 0)])

439

In [468]:
len(filtered_df[(filtered_df.total_rech_num_8 > 0) & (filtered_df.total_rech_amt_8 == 0)])

1587

In [469]:
len(filtered_df)

29979

In [470]:
filtered_df.drop(filtered_df[(filtered_df.total_rech_num_6 > 0) & (filtered_df.total_rech_amt_6 == 0)].index, inplace=True)
filtered_df.drop(filtered_df[(filtered_df.total_rech_num_7 > 0) & (filtered_df.total_rech_amt_7 == 0)].index, inplace=True)
filtered_df.drop(filtered_df[(filtered_df.total_rech_num_8 > 0) & (filtered_df.total_rech_amt_8 == 0)].index, inplace=True)

D:\Software\Anaconda\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [471]:
len(filtered_df)

27827

In [472]:
filtered_df.rename(columns={'jun_vbc_3g' : 'vbc_3g_6', 'jul_vbc_3g' : 'vbc_3g_7', 'aug_vbc_3g' : 'vbc_3g_8', 'sep_vbc_3g' : 'vbc_3g_9'}, inplace=True)

D:\Software\Anaconda\lib\site-packages\pandas\core\frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [473]:
filtered_df.head()

,mobile_number,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,last_date_of_month_9,arpu_6,...,fb_user_6,fb_user_7,fb_user_8,fb_user_9,aon,vbc_3g_8,vbc_3g_7,vbc_3g_6,vbc_3g_9,churn
7,7000701601,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,1069.180,...,NaN,NaN,NaN,NaN,802,57.74,19.38,18.74,0.0,0
8,7001524846,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,378.721,...,NaN,1.0,1.0,NaN,315,21.03,910.65,122.16,0.0,1
13,7002191713,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,492.846,...,NaN,NaN,1.0,NaN,2607,0.00,0.00,0.00,0.0,1
16,7000875565,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,430.975,...,NaN,NaN,NaN,NaN,511,0.00,2.45,21.89,0.0,1
21,7002124215,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,514.453,...,NaN,NaN,NaN,NaN,720,0.00,0.00,0.00,0.0,1

In [474]:
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27827 entries, 7 to 99997
Columns: 227 entries, mobile_number to churn
dtypes: float64(179), int64(36), object(12)
memory usage: 48.4+ MB

In [475]:
filtered_df.reset_index(inplace=True, drop=True)
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27827 entries, 0 to 27826
Columns: 227 entries, mobile_number to churn
dtypes: float64(179), int64(36), object(12)
memory usage: 48.2+ MB

In [476]:
filtered_df.head()

,mobile_number,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,last_date_of_month_9,arpu_6,...,fb_user_6,fb_user_7,fb_user_8,fb_user_9,aon,vbc_3g_8,vbc_3g_7,vbc_3g_6,vbc_3g_9,churn
0,7000701601,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,1069.180,...,NaN,NaN,NaN,NaN,802,57.74,19.38,18.74,0.0,0
1,7001524846,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,378.721,...,NaN,1.0,1.0,NaN,315,21.03,910.65,122.16,0.0,1
2,7002191713,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,492.846,...,NaN,NaN,1.0,NaN,2607,0.00,0.00,0.00,0.0,1
3,7000875565,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,430.975,...,NaN,NaN,NaN,NaN,511,0.00,2.45,21.89,0.0,1
4,7002124215,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,514.453,...,NaN,NaN,NaN,NaN,720,0.00,0.00,0.00,0.0,1

In [477]:
# len(filtered_df.notna())
filtered_df.isna().sum()

mobile_number               0
circle_id                   0
loc_og_t2o_mou             87
std_og_t2o_mou             87
loc_ic_t2o_mou             87
last_date_of_month_6        0
last_date_of_month_7       31
last_date_of_month_8      154
last_date_of_month_9      347
arpu_6                      0
arpu_7                      0
arpu_8                      0
arpu_9                      0
onnet_mou_6               158
onnet_mou_7               152
onnet_mou_8               354
onnet_mou_9              1025
offnet_mou_6              158
offnet_mou_7              152
offnet_mou_8              354
offnet_mou_9             1025
roam_ic_mou_6             158
roam_ic_mou_7             152
roam_ic_mou_8             354
roam_ic_mou_9            1025
roam_og_mou_6             158
roam_og_mou_7             152
roam_og_mou_8             354
roam_og_mou_9            1025
loc_og_t2t_mou_6          158
                        ...
night_pck_user_6        16959
night_pck_user_7        16613
night_pck_user_8        16333
night_pck_user_9        16704
monthly_2g_6                0
monthly_2g_7                0
monthly_2g_8                0
monthly_2g_9                0
sachet_2g_6                 0
sachet_2g_7                 0
sachet_2g_8                 0
sachet_2g_9                 0
monthly_3g_6                0
monthly_3g_7                0
monthly_3g_8                0
monthly_3g_9                0
sachet_3g_6                 0
sachet_3g_7                 0
sachet_3g_8                 0
sachet_3g_9                 0
fb_user_6               16959
fb_user_7               16613
fb_user_8               16333
fb_user_9               16704
aon                         0
vbc_3g_8                    0
vbc_3g_7                    0
vbc_3g_6                    0
vbc_3g_9                    0
churn                       0
Length: 227, dtype: int64

In [478]:
filtered_df = filtered_df.fillna(0)

In [479]:
len(filtered_df.notna())

27827

In [480]:
filtered_df.isna().sum()

mobile_number           0
circle_id               0
loc_og_t2o_mou          0
std_og_t2o_mou          0
loc_ic_t2o_mou          0
last_date_of_month_6    0
last_date_of_month_7    0
last_date_of_month_8    0
last_date_of_month_9    0
arpu_6                  0
arpu_7                  0
arpu_8                  0
arpu_9                  0
onnet_mou_6             0
onnet_mou_7             0
onnet_mou_8             0
onnet_mou_9             0
offnet_mou_6            0
offnet_mou_7            0
offnet_mou_8            0
offnet_mou_9            0
roam_ic_mou_6           0
roam_ic_mou_7           0
roam_ic_mou_8           0
roam_ic_mou_9           0
roam_og_mou_6           0
roam_og_mou_7           0
roam_og_mou_8           0
roam_og_mou_9           0
loc_og_t2t_mou_6        0
                       ..
night_pck_user_6        0
night_pck_user_7        0
night_pck_user_8        0
night_pck_user_9        0
monthly_2g_6            0
monthly_2g_7            0
monthly_2g_8            0
monthly_2g_9            0
sachet_2g_6             0
sachet_2g_7             0
sachet_2g_8             0
sachet_2g_9             0
monthly_3g_6            0
monthly_3g_7            0
monthly_3g_8            0
monthly_3g_9            0
sachet_3g_6             0
sachet_3g_7             0
sachet_3g_8             0
sachet_3g_9             0
fb_user_6               0
fb_user_7               0
fb_user_8               0
fb_user_9               0
aon                     0
vbc_3g_8                0
vbc_3g_7                0
vbc_3g_6                0
vbc_3g_9                0
churn                   0
Length: 227, dtype: int64

In [481]:
filtered_df.drop(filtered_df.columns[157:161], axis=1 , inplace=True)
filtered_df.drop(filtered_df.columns[149:153], axis=1 , inplace=True)
filtered_df.drop(filtered_df.columns[:9], axis=1, inplace=True)

filtered_df.columns.values

array(['arpu_6', 'arpu_7', 'arpu_8', 'arpu_9', 'onnet_mou_6',
       'onnet_mou_7', 'onnet_mou_8', 'onnet_mou_9', 'offnet_mou_6',
       'offnet_mou_7', 'offnet_mou_8', 'offnet_mou_9', 'roam_ic_mou_6',
       'roam_ic_mou_7', 'roam_ic_mou_8', 'roam_ic_mou_9', 'roam_og_mou_6',
       'roam_og_mou_7', 'roam_og_mou_8', 'roam_og_mou_9',
       'loc_og_t2t_mou_6', 'loc_og_t2t_mou_7', 'loc_og_t2t_mou_8',
       'loc_og_t2t_mou_9', 'loc_og_t2m_mou_6', 'loc_og_t2m_mou_7',
       'loc_og_t2m_mou_8', 'loc_og_t2m_mou_9', 'loc_og_t2f_mou_6',
       'loc_og_t2f_mou_7', 'loc_og_t2f_mou_8', 'loc_og_t2f_mou_9',
       'loc_og_t2c_mou_6', 'loc_og_t2c_mou_7', 'loc_og_t2c_mou_8',
       'loc_og_t2c_mou_9', 'loc_og_mou_6', 'loc_og_mou_7', 'loc_og_mou_8',
       'loc_og_mou_9', 'std_og_t2t_mou_6', 'std_og_t2t_mou_7',
       'std_og_t2t_mou_8', 'std_og_t2t_mou_9', 'std_og_t2m_mou_6',
       'std_og_t2m_mou_7', 'std_og_t2m_mou_8', 'std_og_t2m_mou_9',
       'std_og_t2f_mou_6', 'std_og_t2f_mou_7', 'std_og_t2f_mou_8',
       'std_og_t2f_mou_9', 'std_og_t2c_mou_6', 'std_og_t2c_mou_7',
       'std_og_t2c_mou_8', 'std_og_t2c_mou_9', 'std_og_mou_6',
       'std_og_mou_7', 'std_og_mou_8', 'std_og_mou_9', 'isd_og_mou_6',
       'isd_og_mou_7', 'isd_og_mou_8', 'isd_og_mou_9', 'spl_og_mou_6',
       'spl_og_mou_7', 'spl_og_mou_8', 'spl_og_mou_9', 'og_others_6',
       'og_others_7', 'og_others_8', 'og_others_9', 'total_og_mou_6',
       'total_og_mou_7', 'total_og_mou_8', 'total_og_mou_9',
       'loc_ic_t2t_mou_6', 'loc_ic_t2t_mou_7', 'loc_ic_t2t_mou_8',
       'loc_ic_t2t_mou_9', 'loc_ic_t2m_mou_6', 'loc_ic_t2m_mou_7',
       'loc_ic_t2m_mou_8', 'loc_ic_t2m_mou_9', 'loc_ic_t2f_mou_6',
       'loc_ic_t2f_mou_7', 'loc_ic_t2f_mou_8', 'loc_ic_t2f_mou_9',
       'loc_ic_mou_6', 'loc_ic_mou_7', 'loc_ic_mou_8', 'loc_ic_mou_9',
       'std_ic_t2t_mou_6', 'std_ic_t2t_mou_7', 'std_ic_t2t_mou_8',
       'std_ic_t2t_mou_9', 'std_ic_t2m_mou_6', 'std_ic_t2m_mou_7',
       'std_ic_t2m_mou_8', 'std_ic_t2m_mou_9', 'std_ic_t2f_mou_6',
       'std_ic_t2f_mou_7', 'std_ic_t2f_mou_8', 'std_ic_t2f_mou_9',
       'std_ic_t2o_mou_6', 'std_ic_t2o_mou_7', 'std_ic_t2o_mou_8',
       'std_ic_t2o_mou_9', 'std_ic_mou_6', 'std_ic_mou_7', 'std_ic_mou_8',
       'std_ic_mou_9', 'total_ic_mou_6', 'total_ic_mou_7',
       'total_ic_mou_8', 'total_ic_mou_9', 'spl_ic_mou_6', 'spl_ic_mou_7',
       'spl_ic_mou_8', 'spl_ic_mou_9', 'isd_ic_mou_6', 'isd_ic_mou_7',
       'isd_ic_mou_8', 'isd_ic_mou_9', 'ic_others_6', 'ic_others_7',
       'ic_others_8', 'ic_others_9', 'total_rech_num_6',
       'total_rech_num_7', 'total_rech_num_8', 'total_rech_num_9',
       'total_rech_amt_6', 'total_rech_amt_7', 'total_rech_amt_8',
       'total_rech_amt_9', 'max_rech_amt_6', 'max_rech_amt_7',
       'max_rech_amt_8', 'max_rech_amt_9', 'last_day_rch_amt_6',
       'last_day_rch_amt_7', 'last_day_rch_amt_8', 'last_day_rch_amt_9',
       'total_rech_data_6', 'total_rech_data_7', 'total_rech_data_8',
       'total_rech_data_9', 'max_rech_data_6', 'max_rech_data_7',
       'max_rech_data_8', 'max_rech_data_9', 'count_rech_2g_6',
       'count_rech_2g_7', 'count_rech_2g_8', 'count_rech_2g_9',
       'count_rech_3g_6', 'count_rech_3g_7', 'count_rech_3g_8',
       'count_rech_3g_9', 'av_rech_amt_data_6', 'av_rech_amt_data_7',
       'av_rech_amt_data_8', 'av_rech_amt_data_9', 'vol_2g_mb_6',
       'vol_2g_mb_7', 'vol_2g_mb_8', 'vol_2g_mb_9', 'vol_3g_mb_6',
       'vol_3g_mb_7', 'vol_3g_mb_8', 'vol_3g_mb_9', 'arpu_3g_6',
       'arpu_3g_7', 'arpu_3g_8', 'arpu_3g_9', 'arpu_2g_6', 'arpu_2g_7',
       'arpu_2g_8', 'arpu_2g_9', 'night_pck_user_6', 'night_pck_user_7',
       'night_pck_user_8', 'night_pck_user_9', 'monthly_2g_6',
       'monthly_2g_7', 'monthly_2g_8', 'monthly_2g_9', 'sachet_2g_6',
       'sachet_2g_7', 'sachet_2g_8', 'sachet_2g_9', 'monthly_3g_6',
       'monthly_3g_7', 'monthly_3g_8', 'monthly_3g_9', 'sachet_3g_6',
       'sachet_3g_7', 'sachet_3g_8', 'sachet_3g_9', 'fb_user_6',
       'fb_user_7', 'fb_user_8', 'fb_user_9', 'aon', 'vbc_3g_8',
       'vbc_3g_7', 'vbc_3g_6', 'vbc_3g_9', 'churn'], dtype=object)

In [482]:
# new_df = filtered_df.drop(filtered_df.columns[157:161], axis=1 )
# new_df.columns.values

In [483]:
# new_df = filtered_df.drop(filtered_df.columns[149:153], axis=1 )

In [484]:
# new_df.columns.values